
<div class='home__intro-wrap'>
  <div class='home__intro l-wrap--wide'>
    <div class='home__intro__callout'>
      <h1 class='home__intro__callout--title'>Welcome to Ruby-World</h1>
      <h5 class='home__intro__callout--desc'>learn ruby from here.</h5>
    </div>
    <div class='home__intro__about'>
      <pre><code class='home__intro__code ruby'>3.times do<br>&nbsp;&nbsp;puts 'Hello RubyWorld'<br>end<br><br>&#035;=&gt; Hello RubyWorld<br>&#035;=&gt; Hello RubyWorld<br>&#035;=&gt; Hello RubyWorld</code></pre>
      <div class='home__intro__cta'>
        <a class='home__intro__cta--about' href='/signin'>Signin</a>
        <a class='home__intro__cta--try' href='signup'>Signup</a>
      </div>
    </div>
  </div>
</div>

<section class='home__section'>
  <div class='posts--home l-wrap'>
    <h2 class='home__section__header'>News</h2>
    
      <div class='post--home'>
        <p class='post__date'>Oct.  4, 2013</p>
        <a class='post__title' href="/en/news/2013/10/04/rubyconf-au-2014/">RubyConf Australia 2014 Call For Proposals and Tickets Now Open!</a>
        <p><a href="http://www.rubyconf.org.au/">RubyConf Australia 2014</a> will be held in Sydney on February 19 to 21.
It will be the second Ruby conference held in Australia.</p>


        <p class='post__author'>by Andrew Grimm</p>
      </div>
    
      <div class='post--home'>
        <p class='post__date'>Sep. 28, 2013</p>
        <a class='post__title' href="/en/news/2013/09/28/design-contest/">Design Contest for www.ruby-lang.org</a>
        <p>The Ruby Association will be hosting a design contest for the new design of
ruby-lang.org.</p>


        <p class='post__author'>by hsbt</p>
      </div>
    
      <div class='post--home'>
        <p class='post__date'>Sep. 23, 2013</p>
        <a class='post__title' href="/en/news/2013/09/23/ruby-2-1-0-preview1-is-released/">Ruby 2.1.0-preview1 is released</a>
        <p>We are pleased to announce the release of Ruby 2.1.0-preview1.
Please check out the new features in Ruby 2.1 before the final release!</p>


        <p class='post__author'>by nurse</p>
      </div>
    
      <div class='post--home'>
        <p class='post__date'>Sep.  7, 2013</p>
        <a class='post__title' href="/en/news/2013/09/07/we-use-fastly-cdn/">We started distributing source packages via Fastly</a>
        <p>ruby-lang.org started to provide http://cache.ruby-lang.org for
distributing official Ruby source packages.
We can now fastly distribute packages all over the world
using a content delivery network (CDN).</p>


        <p class='post__author'>by hsbt</p>
      </div>
    
      <div class='post--home'>
        <p class='post__date'>Sep.  3, 2013</p>
        <a class='post__title' href="/en/news/2013/09/03/vietnamese-translation/">Vietnamese translation of ruby-lang.org</a>
        <p>We just released the <a href="https://www.ruby-lang.org/vi/">Vietnamese translation of ruby-lang.org</a>.</p>


        <p class='post__author'>by Marcus Stollsteimer</p>
      </div>
    
      <div class='post--home'>
        <p class='post__date'>Aug. 29, 2013</p>
        <a class='post__title' href="/en/news/2013/08/29/confoo-cfp/">ConFoo 2014 is looking for Ruby speakers</a>
        <p>We are looking for Ruby professionals to share their skills and experience at
the next ConFoo. <a href="http://confoo.ca/en/call-for-papers">Submit your proposals</a> until <strong>September 22nd</strong>.</p>


        <p class='post__author'>by afilina</p>
      </div>
    
  </div>
</section>
